@import '../css/blog-post/avatar.css';
@import '../css/blog-post/imgMedia.css';
@import '../css/style/navbar.css';
.container {
    text-transform: capitalize; 
    font-family: Times, serif;
    display: grid;
    margin: 0 auto;
    padding: 100px 500px 100px 500px;
    grid-template-areas: 
    "nv nv nv"
    "hd hd hd"
    "main main main"
    ;
}
.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
.box {
    width: 85px;
}
a {
   font-size: 17px;
}
.header {
    grid-area: hd;
    background-color: thistle;
    text-align: center;
    height: 70px;
}
.line {
    background-color: white;
    height: 5px;
    width: 100%;
}
.main {
    display: grid;
    grid-area: main;
    background-color: lightgray;
    text-align: center;
    height: 400px;
    grid-template-areas: 
    "cn cn"
    "mm mm"
    ;
}
.content {
    grid-area: cn;
    padding: 50px 50px 0 50px;
}
.img-avatar {
    width: 150px;
    height: 150px;
}
h3 {
    padding-top: 20px;
    text-transform: capitalize; 
    font-family: Times, serif;
}
.media {
    padding-left: 100px;
}
.img-media {
    grid-area: mm;

}
@media (min-width: 250px) and (max-width: 500px)
{ 
  .container {
   margin: 0 auto;
   padding: 0;
   grid-template-areas:
   "nv" 
    "hd"
    "main"
    ;
  }
  .main {
  grid-template-areas:  
  "cn"
  "mm"
   ;
 }
}
@media (min-width: 501px) and (max-width: 1200px)
{ 
  .container {
   margin: 0 auto;
   padding: 0;
   grid-template-areas:
   "nv nv" 
    "hd hd"
    "main main"
    ;
  }
  .main {
  grid-template-areas:  
  "cn"
  "mm"
   ;
 }
}